[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
gql = "==3.5.0"
requests-toolbelt = "==1.0.0"

[dev-packages]
pylint = "==3.2.7"
black = "==24.8.0"
pytest = "==8.3.3"

[scripts]
lint = "pylint *.py"
format = "black ."
format_check = "black . --check"
test = "pytest -vv tests/"

[requires]
python_version = "3.11"
