[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
gql = "==3.5.1"
requests-toolbelt = "==1.0.0"
fastjsonschema = "==2.21.1"

[dev-packages]
pylint = "==3.3.4"
black = "==25.1.0"
pytest = "==8.3.4"

[scripts]
lint = "pylint *.py"
format = "black ."
format_check = "black . --check"
test = "pytest -vv tests/"
validate_local = "pipenv run env USE_LOCAL_API=1 python download_metadata.py public/serlo-metadata.json && pipenv run python validate_nodes.py"

[requires]
python_version = "3.11"
